node_modules
!.github/actions/**/node_modules
.vscode
dist
.DS_Store
coverage
lerna-debug.log
*.tgz
**credentials.json
.idea
.nyc_output
documentation
.npmrc

test-results.xml
test-packages/type-tests/report.*.json

tsconfig.tsbuildinfo
junit.xml
.env

# Jetty mock server
packages/**/*.jar
*.jar
local-docs/_site

sqlite.db
sqlite.db-journal

test-packages/integration-tests/test/auth-flows/vcap-services.json
test-packages/integration-tests/test/auth-flows/user-access-token.json
test-packages/integration-tests/test/auth-flows/systems.json
