node_modules
.vscode
dist
.DS_Store
coverage
lerna-debug.log
*.tgz
**credentials.json
.idea
.nyc_output
documentation
packages/**/package-lock.json
test-packages/**/package-lock.json

test-results.xml
test-packages/type-tests/report.*.json

tsconfig.tsbuildinfo
junit.xml
.env

# Jetty mock server
packages/**/*.jar
*.jar
