node_modules/
dist/
knowledge-base/api-reference/
.yarn/
coverage/
CHANGELOG.md
README.md
.*rc
test-packages/**/*.js
test-packages/test-services-openapi/no-schema-service/package.json
test-packages/test-services-openapi/swagger-yaml-service/package.json
test-packages/test-services-openapi/test-service/package.json
build-packages/check-pr/lib/
build-packages/get-changelog/lib
