node_modules/
dist/
docs/
.yarn/
coverage/
CHANGELOG.md
README.md
.*rc
test-packages/**/*.js
test-packages/test-services-openapi/no-schema-service/package.json
test-packages/test-services-openapi/swagger-yaml-service/package.json
test-packages/test-services-openapi/test-service/package.json
