name: build

on:
  pull_request:
    branches-ignore: [documentation, gh-pages]
  push:
    branches: [master]
    tags: ['v*']
    paths-ignore:
    - 'docs/**'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            */*/node_modules
          key: ${{ matrix.os }}-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
      - if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - run: npm run test:unit
      - run: npm run test:integration
      - run: npm run test:type
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: echo ${{ node-version }}
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            */*/node_modules
          key: ${{ runner.os }}-${{ node-version }}-${{ hashFiles('**/package-lock.json') }}
      - if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - run: npm run lint
        name: Static Code Check
      - run: npm run check:vulnerability
        name: Dependency Vulnerability Check
      - run: npm run check:license
        name: License Check
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            */*/node_modules
          key: ${{ runner.os }}-${{ node-version }}-${{ hashFiles('**/package-lock.json') }}
      - if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build odata v4 service
        run: npm run e2e-test:build
      - name: Start odata v4 service
        run: npm run e2e-test:start-server:deamon
      - run: npm run test:e2e
  canary-release:
    if: github.event_name != 'pull_request' && !startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [tests, checks]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - name: Canary Release
        run: |
          git update-index --assume-unchanged .npmrc
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> .npmrc
          npx lerna publish --canary --no-push --no-git-tag-version --dist-tag canary --force-publish --preid `git rev-parse --short HEAD` -y
        env:
          NPM_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
  draft-github-release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [tests, checks]
    steps:
      - uses: actions/checkout@v1
      - run: npm ci
      - uses: ./.github/actions/get-changelog
        name: Get Changelog
        id: get-changelog
      - uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          body: ${{ steps.get-changelog.outputs.changelog }}
