name: bump

on:
  workflow_dispatch:
    inputs:
      majorVersion:
        description: Mandatory, when bumping a major version. Semver compatible version string (X.Y.Z). Must not be set for patch and minor version releases.
        required: false

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_CLOUD_SDK_JS_ADMIN_WRITE_TOKEN }}
          ref: 'v3-main'

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - run: yarn install --frozen-lockfile --ignore-engines

      - name: bump version
        id: bump
        uses: ./.github/actions/changesets-fixed-version-bump
        with:
          majorVersion: ${{ inputs.majorVersion }}

      - run: |
          yarn ts-node ${{ github.workspace }}/scripts/update-documentation-md.ts
          yarn generate
          yarn doc
        env:
          NEXT_PACKAGE_VERSION: ${{ steps.bump.outputs.version }}

      - name: merge Changelogs
        id: merge-changelogs
        uses: ./.github/actions/merge-changelogs

      - run: yarn -s ts-node ${{ github.workspace }}/scripts/write-changelog.ts
        env:
          CHANGELOG: ${{ steps.merge-changelogs.outputs.changelog }}
          VERSION: ${{ steps.bump.outputs.version }}

      - name: commit and tag
        uses: ./.github/actions/commit-and-tag
        with:
          version: ${{ steps.bump.outputs.version }}
