name: Run PR Formalities Check

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  check-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Collect changed files
        uses: tj-actions/changed-files@v35
        id: changed-files
        with:
          files: |
            .changeset/**
      - uses: ./.github/actions/check-pr
        with:
          changed-files: ${{ steps.changed-files.outputs.added_files }} ${{ steps.changed-files.outputs.modified_files }}
