name: 'pr-check'

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  check-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Collect changed files
        uses: step-security/changed-files@v47.0.1
        id: changed-files
        with:
          files: |
            .changeset/**
      - uses: ./.github/actions/check-pr
        with:
          changed-files: ${{ steps.changed-files.outputs.added_files }} ${{ steps.changed-files.outputs.modified_files }}
