name: 'Fosstars (Security)'
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  create_fosstars_report:
    runs-on: ubuntu-latest
    name: 'Security rating'
    steps:
      - uses: actions/checkout@v3
      - uses: SAP/fosstars-rating-core-action@v1.9.0
        with:
          report-branch: fosstars-report
          token: '${{ secrets.GH_CLOUD_SDK_JS_ADMIN_WRITE_TOKEN }}'
