name: release

on:
  release:
    types: [published]

jobs:
  stable-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - run: yarn install --frozen-lockfile
      - name: Version 1 Stable Release
        if: github.ref == 'refs/heads/main'
        run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> .npmrc
          yarn lerna publish from-package --force-publish -y
        env:
          NPM_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
      - name: Version 2 Beta Release
        if: github.ref == 'refs/heads/2.0'
        run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> .npmrc
          yarn lerna publish --canary major --no-push --no-git-tag-version --dist-tag beta --force-publish -y
        env:
          NPM_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
