name: Release Cloud SDK documentation

on:
  push:
    branches: [main]

jobs:
 release:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Add key
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        echo "${{ secrets.GH_PAGES_DEPLOY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        cat <<EOT >> ~/.ssh/config
        Host github.com
        HostName github.com
        IdentityFile ~/.ssh/id_rsa
        EOT
    - name: Release Documentation to GitHub Pages
      env:
        USE_SSH: true
        GIT_USER: gh-actions
      run: |
        git config --global user.email "gh-actions@github.com"
        git config --global user.name "gh-actions"
        npm ci
        npx docusaurus deploy
