# This workflow delegates to the appropriate release workflow based on the event that triggered it.
name: release-entry

on:
  # Triggers for official releases
  release:
    types: [published]
  # Triggers for canary releases
  schedule:
    - cron: '0 1 * * *'

  workflow_dispatch:
    inputs:
      canary-release:
        description: 'Canary release'
        type: choice
        required: false
        default: 'With Tests and Checks'
        options:
          - 'With Tests and Checks'
          - 'Skip Tests and Checks (Force Release)'
jobs:
  delegate_to_release_job:
    if: ${{ github.event_name == 'release' }}
    uses: ./.github/workflows/release.yml
    secrets: inherit

  delegate_to_canary_job:
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      canary-release-skip-checks: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.canary-release == 'Skip Tests and Checks (Force Release)' }}
      is-workflow-call: true
