name: windows-tests

on:
  push:
    branches: ['main']
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:

jobs:
  tests:
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - run: git fetch --depth=1
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --frozen-lockfile
      - run: yarn test:unit --continue -- -- -- --json --outputFile=unit-test-output.json
      - run: yarn test:integration -- -- -- --json --outputFile=int-test-output.json
        if: always()
      - run: yarn test:self
      - run: yarn test:type
      - name: Archive results
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: windows-test-results
          path: '*packages/**/*-test-output.json'
          retention-days: 30
